# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables (SECRETS)
.env
.venv.*
myenv/


# Django
db.sqlite3
staticfiles/

# Logs
*.log
install_log.txt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
