--
-- PostgreSQL database dump
--

\restrict Oeyrlxrm0wRDGFhwW2kSbKxPMbRSvSeLuxRyJU5OXlZj2ccHl7DieCVveAhTpHg

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_userprofile; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.accounts_userprofile (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(10) NOT NULL,
    profile_picture character varying(255),
    date_of_birth date,
    gender character varying(10),
    celebrate_birthday boolean NOT NULL,
    emotional_reinforcement character varying(100),
    favorite_artist character varying(100),
    favorite_movie character varying(100),
    favorite_song character varying(100),
    learning_style character varying(100),
    motivation text,
    nickname character varying(50),
    residence_area character varying(100),
    share_with_class boolean NOT NULL,
    full_name character varying(100),
    spotify_link character varying(500),
    gratitude text,
    happy_memory text,
    favorite_place character varying(255)
);


ALTER TABLE public.accounts_userprofile OWNER TO user123;

--
-- Name: accounts_userprofile_groups; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.accounts_userprofile_groups (
    id bigint NOT NULL,
    userprofile_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_userprofile_groups OWNER TO user123;

--
-- Name: accounts_userprofile_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.accounts_userprofile_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.accounts_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userprofile_user_permissions; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.accounts_userprofile_user_permissions (
    id bigint NOT NULL,
    userprofile_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_userprofile_user_permissions OWNER TO user123;

--
-- Name: accounts_userprofile_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.accounts_userprofile_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO user123;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO user123;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO user123;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO user123;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO user123;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO user123;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO user123;

--
-- Name: quizzes_option; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.quizzes_option (
    id bigint NOT NULL,
    text character varying(255) NOT NULL,
    category character varying(1) NOT NULL,
    value integer NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.quizzes_option OWNER TO user123;

--
-- Name: quizzes_option_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.quizzes_option ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quizzes_option_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quizzes_question; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.quizzes_question (
    id bigint NOT NULL,
    text character varying(255) NOT NULL,
    questionnaire_id bigint NOT NULL
);


ALTER TABLE public.quizzes_question OWNER TO user123;

--
-- Name: quizzes_question_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.quizzes_question ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quizzes_question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quizzes_questionnaire; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.quizzes_questionnaire (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.quizzes_questionnaire OWNER TO user123;

--
-- Name: quizzes_questionnaire_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.quizzes_questionnaire ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quizzes_questionnaire_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quizzes_useranswer; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.quizzes_useranswer (
    id bigint NOT NULL,
    question_id bigint NOT NULL,
    selected_option_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.quizzes_useranswer OWNER TO user123;

--
-- Name: quizzes_useranswer_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.quizzes_useranswer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quizzes_useranswer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: quizzes_userresult; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.quizzes_userresult (
    id bigint NOT NULL,
    dominant_category character varying(1) NOT NULL,
    questionnaire_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.quizzes_userresult OWNER TO user123;

--
-- Name: quizzes_userresult_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.quizzes_userresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.quizzes_userresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: teachers_classgroup; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.teachers_classgroup (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    teacher_id bigint NOT NULL,
    invite_code character varying(10)
);


ALTER TABLE public.teachers_classgroup OWNER TO user123;

--
-- Name: teachers_classgroup_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.teachers_classgroup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.teachers_classgroup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: teachers_classgroup_students; Type: TABLE; Schema: public; Owner: user123
--

CREATE TABLE public.teachers_classgroup_students (
    id bigint NOT NULL,
    classgroup_id bigint NOT NULL,
    userprofile_id bigint NOT NULL
);


ALTER TABLE public.teachers_classgroup_students OWNER TO user123;

--
-- Name: teachers_classgroup_students_id_seq; Type: SEQUENCE; Schema: public; Owner: user123
--

ALTER TABLE public.teachers_classgroup_students ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.teachers_classgroup_students_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_userprofile; Type: TABLE DATA; Schema: public; Owner: user123
--



--
-- Data for Name: accounts_userprofile_groups; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.accounts_userprofile_groups (id, userprofile_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_userprofile_user_permissions; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.accounts_userprofile_user_permissions (id, userprofile_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: user123
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	accounts	userprofile
7	teachers	classgroup
8	quizzes	question
9	quizzes	questionnaire
10	quizzes	useranswer
11	quizzes	userresult
12	quizzes	option
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: user123
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
kasieifeh2py8lb9lbp257vgwcs1gcuo	.eJxVjLsOwjAMAP_FM4ryKE3Skb3fUNmxTQqolfqYEP-OKnWA9e50bxhw3-qwr7IMI0MHDi6_jLA8ZToEP3C6z6bM07aMZI7EnHY1_czyup3t36DiWqED76-WUYidDSUoZ1UmH4sNDbGitISJIkvLhUKT1OVEVlE0RyVJHj5fInQ53g:1w2v3I:yGGFfZuydp2RM22YBa4Z026GgAi87cNVQVs145jhIc0	2026-04-01 17:51:28.530517+00
\.


--
-- Data for Name: quizzes_option; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.quizzes_option (id, text, category, value, question_id) FROM stdin;
\.


--
-- Data for Name: quizzes_question; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.quizzes_question (id, text, questionnaire_id) FROM stdin;
\.


--
-- Data for Name: quizzes_questionnaire; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.quizzes_questionnaire (id, title, description) FROM stdin;
\.


--
-- Data for Name: quizzes_useranswer; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.quizzes_useranswer (id, question_id, selected_option_id, user_id) FROM stdin;
\.


--
-- Data for Name: quizzes_userresult; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.quizzes_userresult (id, dominant_category, questionnaire_id, user_id) FROM stdin;
\.


--
-- Data for Name: teachers_classgroup; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.teachers_classgroup (id, name, teacher_id, invite_code) FROM stdin;
\.


--
-- Data for Name: teachers_classgroup_students; Type: TABLE DATA; Schema: public; Owner: user123
--

COPY public.teachers_classgroup_students (id, classgroup_id, userprofile_id) FROM stdin;
\.


--
-- Name: accounts_userprofile_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.accounts_userprofile_groups_id_seq', 1, false);


--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.accounts_userprofile_id_seq', 1, true);


--
-- Name: accounts_userprofile_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.accounts_userprofile_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 36, true);


--
-- Name: quizzes_option_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.quizzes_option_id_seq', 1, false);


--
-- Name: quizzes_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.quizzes_question_id_seq', 1, false);


--
-- Name: quizzes_questionnaire_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.quizzes_questionnaire_id_seq', 1, false);


--
-- Name: quizzes_useranswer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.quizzes_useranswer_id_seq', 1, false);


--
-- Name: quizzes_userresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.quizzes_userresult_id_seq', 1, false);


--
-- Name: teachers_classgroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.teachers_classgroup_id_seq', 1, false);


--
-- Name: teachers_classgroup_students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user123
--

SELECT pg_catalog.setval('public.teachers_classgroup_students_id_seq', 1, false);


--
-- Name: accounts_userprofile_groups accounts_userprofile_gro_userprofile_id_group_id_36cd9fa6_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_groups
    ADD CONSTRAINT accounts_userprofile_gro_userprofile_id_group_id_36cd9fa6_uniq UNIQUE (userprofile_id, group_id);


--
-- Name: accounts_userprofile_groups accounts_userprofile_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_groups
    ADD CONSTRAINT accounts_userprofile_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile_user_permissions accounts_userprofile_use_userprofile_id_permissio_22053107_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_user_permissions
    ADD CONSTRAINT accounts_userprofile_use_userprofile_id_permissio_22053107_uniq UNIQUE (userprofile_id, permission_id);


--
-- Name: accounts_userprofile_user_permissions accounts_userprofile_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_user_permissions
    ADD CONSTRAINT accounts_userprofile_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_username_key; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: quizzes_option quizzes_option_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_option
    ADD CONSTRAINT quizzes_option_pkey PRIMARY KEY (id);


--
-- Name: quizzes_question quizzes_question_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_question
    ADD CONSTRAINT quizzes_question_pkey PRIMARY KEY (id);


--
-- Name: quizzes_questionnaire quizzes_questionnaire_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_questionnaire
    ADD CONSTRAINT quizzes_questionnaire_pkey PRIMARY KEY (id);


--
-- Name: quizzes_useranswer quizzes_useranswer_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_useranswer
    ADD CONSTRAINT quizzes_useranswer_pkey PRIMARY KEY (id);


--
-- Name: quizzes_userresult quizzes_userresult_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_userresult
    ADD CONSTRAINT quizzes_userresult_pkey PRIMARY KEY (id);


--
-- Name: quizzes_userresult quizzes_userresult_user_id_questionnaire_id_e2c027ae_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_userresult
    ADD CONSTRAINT quizzes_userresult_user_id_questionnaire_id_e2c027ae_uniq UNIQUE (user_id, questionnaire_id);


--
-- Name: teachers_classgroup teachers_classgroup_invite_code_key; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup
    ADD CONSTRAINT teachers_classgroup_invite_code_key UNIQUE (invite_code);


--
-- Name: teachers_classgroup teachers_classgroup_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup
    ADD CONSTRAINT teachers_classgroup_pkey PRIMARY KEY (id);


--
-- Name: teachers_classgroup_students teachers_classgroup_stud_classgroup_id_userprofil_2b7a22b1_uniq; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup_students
    ADD CONSTRAINT teachers_classgroup_stud_classgroup_id_userprofil_2b7a22b1_uniq UNIQUE (classgroup_id, userprofile_id);


--
-- Name: teachers_classgroup_students teachers_classgroup_students_pkey; Type: CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup_students
    ADD CONSTRAINT teachers_classgroup_students_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile_groups_group_id_74ae51cf; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX accounts_userprofile_groups_group_id_74ae51cf ON public.accounts_userprofile_groups USING btree (group_id);


--
-- Name: accounts_userprofile_groups_userprofile_id_b7fb6469; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX accounts_userprofile_groups_userprofile_id_b7fb6469 ON public.accounts_userprofile_groups USING btree (userprofile_id);


--
-- Name: accounts_userprofile_user_permissions_permission_id_a9b2b32b; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX accounts_userprofile_user_permissions_permission_id_a9b2b32b ON public.accounts_userprofile_user_permissions USING btree (permission_id);


--
-- Name: accounts_userprofile_user_permissions_userprofile_id_4acaf5a0; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX accounts_userprofile_user_permissions_userprofile_id_4acaf5a0 ON public.accounts_userprofile_user_permissions USING btree (userprofile_id);


--
-- Name: accounts_userprofile_username_8e8bc851_like; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX accounts_userprofile_username_8e8bc851_like ON public.accounts_userprofile USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: quizzes_option_question_id_6a357926; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_option_question_id_6a357926 ON public.quizzes_option USING btree (question_id);


--
-- Name: quizzes_question_questionnaire_id_622c250f; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_question_questionnaire_id_622c250f ON public.quizzes_question USING btree (questionnaire_id);


--
-- Name: quizzes_useranswer_question_id_69278e82; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_useranswer_question_id_69278e82 ON public.quizzes_useranswer USING btree (question_id);


--
-- Name: quizzes_useranswer_selected_option_id_04437ae3; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_useranswer_selected_option_id_04437ae3 ON public.quizzes_useranswer USING btree (selected_option_id);


--
-- Name: quizzes_useranswer_user_id_e4374a5d; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_useranswer_user_id_e4374a5d ON public.quizzes_useranswer USING btree (user_id);


--
-- Name: quizzes_userresult_questionnaire_id_ab0aa2ee; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_userresult_questionnaire_id_ab0aa2ee ON public.quizzes_userresult USING btree (questionnaire_id);


--
-- Name: quizzes_userresult_user_id_a0633abe; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX quizzes_userresult_user_id_a0633abe ON public.quizzes_userresult USING btree (user_id);


--
-- Name: teachers_classgroup_invite_code_60f4b31a_like; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX teachers_classgroup_invite_code_60f4b31a_like ON public.teachers_classgroup USING btree (invite_code varchar_pattern_ops);


--
-- Name: teachers_classgroup_students_classgroup_id_6136b20c; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX teachers_classgroup_students_classgroup_id_6136b20c ON public.teachers_classgroup_students USING btree (classgroup_id);


--
-- Name: teachers_classgroup_students_userprofile_id_2cc2e9bc; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX teachers_classgroup_students_userprofile_id_2cc2e9bc ON public.teachers_classgroup_students USING btree (userprofile_id);


--
-- Name: teachers_classgroup_teacher_id_4b61b6c8; Type: INDEX; Schema: public; Owner: user123
--

CREATE INDEX teachers_classgroup_teacher_id_4b61b6c8 ON public.teachers_classgroup USING btree (teacher_id);


--
-- Name: accounts_userprofile_groups accounts_userprofile_groups_group_id_74ae51cf_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_groups
    ADD CONSTRAINT accounts_userprofile_groups_group_id_74ae51cf_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userprofile_user_permissions accounts_userprofile_permission_id_a9b2b32b_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_user_permissions
    ADD CONSTRAINT accounts_userprofile_permission_id_a9b2b32b_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userprofile_user_permissions accounts_userprofile_userprofile_id_4acaf5a0_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_user_permissions
    ADD CONSTRAINT accounts_userprofile_userprofile_id_4acaf5a0_fk_accounts_ FOREIGN KEY (userprofile_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userprofile_groups accounts_userprofile_userprofile_id_b7fb6469_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.accounts_userprofile_groups
    ADD CONSTRAINT accounts_userprofile_userprofile_id_b7fb6469_fk_accounts_ FOREIGN KEY (userprofile_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_userprofile_id FOREIGN KEY (user_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_option quizzes_option_question_id_6a357926_fk_quizzes_question_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_option
    ADD CONSTRAINT quizzes_option_question_id_6a357926_fk_quizzes_question_id FOREIGN KEY (question_id) REFERENCES public.quizzes_question(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_question quizzes_question_questionnaire_id_622c250f_fk_quizzes_q; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_question
    ADD CONSTRAINT quizzes_question_questionnaire_id_622c250f_fk_quizzes_q FOREIGN KEY (questionnaire_id) REFERENCES public.quizzes_questionnaire(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_useranswer quizzes_useranswer_question_id_69278e82_fk_quizzes_question_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_useranswer
    ADD CONSTRAINT quizzes_useranswer_question_id_69278e82_fk_quizzes_question_id FOREIGN KEY (question_id) REFERENCES public.quizzes_question(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_useranswer quizzes_useranswer_selected_option_id_04437ae3_fk; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_useranswer
    ADD CONSTRAINT quizzes_useranswer_selected_option_id_04437ae3_fk FOREIGN KEY (selected_option_id) REFERENCES public.quizzes_option(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_useranswer quizzes_useranswer_user_id_e4374a5d_fk_accounts_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_useranswer
    ADD CONSTRAINT quizzes_useranswer_user_id_e4374a5d_fk_accounts_userprofile_id FOREIGN KEY (user_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_userresult quizzes_userresult_questionnaire_id_ab0aa2ee_fk_quizzes_q; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_userresult
    ADD CONSTRAINT quizzes_userresult_questionnaire_id_ab0aa2ee_fk_quizzes_q FOREIGN KEY (questionnaire_id) REFERENCES public.quizzes_questionnaire(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quizzes_userresult quizzes_userresult_user_id_a0633abe_fk_accounts_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.quizzes_userresult
    ADD CONSTRAINT quizzes_userresult_user_id_a0633abe_fk_accounts_userprofile_id FOREIGN KEY (user_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teachers_classgroup_students teachers_classgroup__classgroup_id_6136b20c_fk_teachers_; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup_students
    ADD CONSTRAINT teachers_classgroup__classgroup_id_6136b20c_fk_teachers_ FOREIGN KEY (classgroup_id) REFERENCES public.teachers_classgroup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teachers_classgroup_students teachers_classgroup__userprofile_id_2cc2e9bc_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup_students
    ADD CONSTRAINT teachers_classgroup__userprofile_id_2cc2e9bc_fk_accounts_ FOREIGN KEY (userprofile_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teachers_classgroup teachers_classgroup_teacher_id_4b61b6c8_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: user123
--

ALTER TABLE ONLY public.teachers_classgroup
    ADD CONSTRAINT teachers_classgroup_teacher_id_4b61b6c8_fk_accounts_ FOREIGN KEY (teacher_id) REFERENCES public.accounts_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict Oeyrlxrm0wRDGFhwW2kSbKxPMbRSvSeLuxRyJU5OXlZj2ccHl7DieCVveAhTpHg

