dj-database-url==3.0.1
Django==4.2.27
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
gunicorn==23.0.0
whitenoise==6.7.0
cloudinary==1.41.0
crispy-bootstrap5==2024.2
psycopg2-binary
django-environ
